debian/debhelper.log
debian/files
debian/postinst.debhelper
debian/postrm.debhelper
debian/prerm.debhelper
debian/substvars
debian/tmp/
debian/akiban/
debian/akiban.debhelper.log
debian/akiban.substvars
redhat/rpmbuild
target/
plugins/
packages-common/
