cserver.datapath=DATA_PATH
cserver.host=localhost
cserver.port=5140
cserver.verbose=CHUNK_SERVER_VERBOSE
cserver.decision_engine=DECISION_ENGINE
cserver.delta_store=DELTA_STORE
cserver.delta_threshold=DELTA_THRESHOLD
