/* Policy file granting limiting the permissions for routines */

// development:
grant codeBase "file:${fdbsql.home}/fdb-sql-layer-core/target/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${fdbsql.home}/routine-firewall/target/*" {
};

grant codeBase "file:${user.home}/.m2/repository/-" {
  permission java.security.AllPermission;
};

// installation
grant codeBase "file:${fdbsql.home}/*" {
  permission java.security.AllPermission;
};

grant codeBase "file:${fdbsql.home}/server/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${fdbsql.home}/plugings/-" {
  permission java.security.Allpermission;
}; 

grant codeBase "file:${fdbsql.home}/routine-firewall/*" {
};
