#*
 * END USER LICENSE AGREEMENT (“EULA”)
 *
 * READ THIS AGREEMENT CAREFULLY (date: 9/13/2011):
 * http://www.akiban.com/licensing/20110913
 *
 * BY INSTALLING OR USING ALL OR ANY PORTION OF THE SOFTWARE, YOU ARE ACCEPTING
 * ALL OF THE TERMS AND CONDITIONS OF THIS AGREEMENT. YOU AGREE THAT THIS
 * AGREEMENT IS ENFORCEABLE LIKE ANY WRITTEN AGREEMENT SIGNED BY YOU.
 *
 * IF YOU HAVE PAID A LICENSE FEE FOR USE OF THE SOFTWARE AND DO NOT AGREE TO
 * THESE TERMS, YOU MAY RETURN THE SOFTWARE FOR A FULL REFUND PROVIDED YOU (A) DO
 * NOT USE THE SOFTWARE AND (B) RETURN THE SOFTWARE WITHIN THIRTY (30) DAYS OF
 * YOUR INITIAL PURCHASE.
 *
 * IF YOU WISH TO USE THE SOFTWARE AS AN EMPLOYEE, CONTRACTOR, OR AGENT OF A
 * CORPORATION, PARTNERSHIP OR SIMILAR ENTITY, THEN YOU MUST BE AUTHORIZED TO SIGN
 * FOR AND BIND THE ENTITY IN ORDER TO ACCEPT THE TERMS OF THIS AGREEMENT. THE
 * LICENSES GRANTED UNDER THIS AGREEMENT ARE EXPRESSLY CONDITIONED UPON ACCEPTANCE
 * BY SUCH AUTHORIZED PERSONNEL.
 *
 * IF YOU HAVE ENTERED INTO A SEPARATE WRITTEN LICENSE AGREEMENT WITH AKIBAN FOR
 * USE OF THE SOFTWARE, THE TERMS AND CONDITIONS OF SUCH OTHER AGREEMENT SHALL
 * PREVAIL OVER ANY CONFLICTING TERMS OR CONDITIONS IN THIS AGREEMENT.
 *#
#*
 * A join between x and y, assuming that x and y are both sorted on the join columns.
 *#
#macro(quote_table_name $t)`$t.schemaName`.`$t.tableName`
#end
#macro(comma_separator)#if($velocityCount != 0), #else  #end#end
delimiter ~~

use `$outputTableName.schemaName` ~~

drop table if exists #quote_table_name($outputTableName) ~~

create table #quote_table_name($outputTableName)(
#foreach ($column in $outputTableColumns)
    #comma_separator()$column.name $column.typeDescription
#end
) engine = myisam ~~

drop procedure if exists `$procedureName` ~~

create procedure `$procedureName`()
begin
#foreach ($column in $xTableColumns)
    declare x_$column.name $column.typeDescription;
#end
#foreach ($column in $yTableColumns)
    declare y_$column.name $column.typeDescription;
#end
    declare more bool default true;
    declare x_more bool default true;
    declare y_more bool default true;
    declare c int;
    declare log_interval int default 10000;
    declare log_interval_count int;
    declare log_last_time timestamp;
    declare t timestamp;
    declare msg varchar(200);

    declare x cursor for
    select
#foreach ($column in $xTableColumns)
    #comma_separator()$column.name
#end
    from #quote_table_name($xTableName)
#if ($orderBy)
    order by
#foreach ($column in $xJoinColumns)
    #comma_separator()$column.name
#end#end
    ;

    declare y cursor for
    select
#foreach ($column in $yTableColumns)
    #comma_separator()$column.name
#end
    from #quote_table_name($yTableName)
#if ($orderBy)
    order by
#foreach ($column in $yJoinColumns)
    #comma_separator()$column.name
#end#end
    ;

    declare continue handler for not found set more = false;

    open x;
    open y;

    fetch x into
#foreach ($column in $xTableColumns)
    #comma_separator()x_$column.name
#end
    ;
    set x_more = more;
    fetch y into
#foreach ($column in $yTableColumns)
    #comma_separator()y_$column.name
#end
    ;
    set y_more = more;

    set log_interval_count = 0;
    set log_last_time = sysdate();
    while x_more and y_more do
        select if((#foreach ($column in $xJoinColumns)#comma_separator()x_$column.name#end) =
                  (#foreach ($column in $yJoinColumns)#comma_separator()y_$column.name#end),
                  0, if((#foreach ($column in $xJoinColumns)#comma_separator()x_$column.name#end) <
                        (#foreach ($column in $yJoinColumns)#comma_separator()y_$column.name#end),
                        -1, 1))
        into c;
        if c = 0 then
            insert into #quote_table_name($outputTableName)
            values (
#foreach ($column in $xTableColumns)
                #comma_separator()x_$column.name
#end
#foreach ($column in $yOnlyColumns)
                , y_$column.name
#end
            );
#if ($advanceXOnMatch)
            fetch x into
#foreach ($column in $xTableColumns)
                #comma_separator()x_$column.name
#end
            ;
            set x_more = more;
#end
#if ($advanceYOnMatch)
            fetch y into
#foreach ($column in $yTableColumns)
                #comma_separator()y_$column.name
#end
            ;
            set y_more = more;
#end
        elseif c > 0 then
            fetch y into
#foreach ($column in $yTableColumns)
                #comma_separator()y_$column.name
#end
            ;
            set y_more = more;
        else
            fetch x into
#foreach ($column in $xTableColumns)
                #comma_separator()x_$column.name
#end
            ;
            set x_more = more;
        end if;
        set log_interval_count = log_interval_count + 1;
        if log_interval_count % log_interval = 0 then
            set t = sysdate();
            insert into progress(time, event_time_sec, message)
            values(t, t - log_last_time, log_interval_count);
            set log_last_time = t;
        end if;
    end while;

    close x;
    close y;
    
end ~~

call `$procedureName`() ~~
