/* Policy file granting limiting the permissions for routines */


// Development version
grant codeBase "file:${fdbsql.home}/fdb-sql-layer-core/target/-" {
  permission java.security.AllPermission;
};

grant codeBase "file:${fdbsql.home}/fdb-sql-layer-routinefw/target/*" {
};
