Source: fdb-sql-layer
Section: misc
Priority: optional
Maintainer: Nathan Williams <nathan.williams@foundationdb.com>
Build-Depends: debhelper (>= 5), openjdk-7-jdk | oracle-java7-installer
Homepage: http://foundationdb.com
Vcs-Git: git@github.com:FoundationDB/sql-layer.git
Vcs-Browser: https://github.com/FoundationDB/sql-layer
Standards-Version: 3.9.1

Package: fdb-sql-layer
Architecture: all
Depends: openjdk-7-jdk | openjdk-7-jre-headless | oracle-java7-installer, adduser
Recommends: postgresql-client, libpg-java
Description: FoundationDB SQL Layer
 FoundationDB SQL Layer

