[Unit]
Description=FoundationDB SQL Layer
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/fdb-sql-layer/fdb-sql-layer.pid
User=foundationdb
ExecStart=/usr/sbin/fdbsqllayer -H /usr/share/foundationdb/sql -c /etc/foundationdb/sql -p /var/run/fdb-sql-layer/fdb-sql-layer.pid -q
SuccessExitStatus=143
KillMode=process

[Install]
WantedBy=multi-user.target
