Source: fdb-sql-layer
Section: database
Priority: optional
Maintainer: FoundationDB <distribution@foundationdb.com>
Build-Depends: debhelper (>= 5), openjdk-7-jdk | oracle-java7-installer
Homepage: https://foundationdb.com/layers/sql
Vcs-Git: git://github.com/FoundationDB/sql-layer.git
Vcs-Browser: https://github.com/FoundationDB/sql-layer
Standards-Version: 3.9.1

Package: fdb-sql-layer
Architecture: all
Depends: openjdk-7-jdk | openjdk-7-jre-headless | oracle-java7-installer, foundationdb-clients (>= 1.0.1), adduser, ${misc:Depends}
Recommends: postgresql-client, libpg-java, foundationdb-server
Description: FoundationDB SQL Layer
 SQL Layer for FoundationDB

