Source: fdb-sql-layer
Section: database
Priority: optional
Maintainer: FoundationDB <distribution@foundationdb.com>
Build-Depends: debhelper (>= 5), java7-jdk | java8-jdk
Homepage: https://foundationdb.com/layers/sql
Vcs-Git: git://github.com/FoundationDB/sql-layer.git
Vcs-Browser: https://github.com/FoundationDB/sql-layer
Standards-Version: 3.9.1

Package: fdb-sql-layer
Architecture: all
Depends: java7-runtime-headless | java8-runtime-headless, foundationdb-clients (>= 2.0.0), adduser, ${misc:Depends}
Suggests: fdb-sql-layer-client-tools, foundationdb-server
Description: FoundationDB SQL Layer
 SQL Layer for FoundationDB
